name: Java CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      # ===== LINTER (CHECKSTYLE) =====
      - name: Run Checkstyle
        run: mvn -B checkstyle:check

      # Subir reporte como artifact
      - name: Upload Checkstyle report
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report
          path: target/checkstyle-result.xml

      # ===== BUILD =====
      - name: Build with Maven
        run: mvn -B package --file pom.xml

      # ===== TESTS =====
      - name: Run tests
        run: mvn test

